<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySystemSourceLabel">Confirmacion de Borrado de Empleado</h4>
    </div>
    
    <div class="modal-body">
    
		
        <div class="form-group">
            <p>Desea eliminar el empleado?</p>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelar()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button class="btn btn-danger" ng-click="borrar()">
            <span class="glyphicon glyphicon-remove"></span>&nbsp;<span>Borrar</span>
        </button>
    </div>
</form>