
<!DOCTYPE html>
<html>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
    
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/release/ui-grid-unstable.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid-unstable.css" type="text/css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="../app/controllers/controller.js"></script>
	<script src="../app/controllers/deleteEmployeeController.js"></script>
	<script src="../app/controllers/noRowsSelectedController.js"></script>

<body>

	

	<div ng-app="myApp" ng-controller="myCtrl">

		First Name: <input id="input1" type="text" ng-model="firstName"><br>
		Last Name: <input type="text" ng-model="lastName"><br> <br>
		Full Name: {{firstName + " " + lastName}}
		<br>	<br>
		
		<div style="padding: 8px;">
			<!-- <button class="btn btn-primary" ui-sref="systemSource.new">
                   <span class="glyphicon glyphicon-plus-sign"></span> <span translate="louisaApp.systemSource.home.createLabel">Create a new SystemSource</span>
               </button>
               &nbsp;
               <button ng-click="edit()" class="btn btn-warning">
                   <span class="glyphicon glyphicon-remove-circle"></span> &nbsp;<span translate="entity.action.edit">Edit</span>
               </button> -->
               <!-- &nbsp;
               <button ng-click="view()" class="btn btn-info">
                   <span class="glyphicon glyphicon-remove-circle"></span> &nbsp;<span translate="entity.action.view">View</span>
               </button> -->
               &nbsp;
               
               <button type="submit" ng-click="deleteEmployee()" class="btn btn-danger">
                   <span class="glyphicon glyphicon-remove-circle"></span> &nbsp;<span>Delete</span>
               </button>
		</div>
		<div ui-grid="putaGridOptions" class="grid" ui-grid-pagination ui-grid-selection></div>
		
		<p> {{errorMessage}} </p>
		
	</div>
	
	<br>	<br><br>	<br><br>	<br><br>	<br><br>	<br><br>	<br><br>	<br><br>	<br><br>	<br><br>	<br>
		Fin de angular
	<br>	<br><br>
	principio old javascript
	<br>
	<p id="demo"></p>
	
	
	<script>
		var firstName = "comeme";
		document.getElementById('demo').innerHTML = firstName;
		
		//var element = document.getElementById('input1')
		// element.onkeypress(function updateVar()){
		//    firstName = firstName + [pressed key];	
		// }
	</script>
</body>
</html>