<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySystemSourceLabel">A favor, selecciona un empleado a borrar</h4>
    </div>
    
    <div class="modal-body">
		
        <div class="form-group">
            <p>No hay fila seleccionada!!!</p>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Close</span>
        </button>
    </div>
</form>